<nav class="navbar navbar-expand-lg mb-5">
  <ul class="navbar-nav nav-pills">
    <li class="nav-item">
      <div class="navbar-brand">
	<img src="{{ site.url }}/assets/images/logo.png" class="align-middle mr-3">
	<div class="hb align-middle">
	  <div class="hb1">Helper Bees</div>
	  <div class="hb2">of Coolidge Corner School</div>
	</div>
      </div>
    </li>
    {% for item in site.data.tabs %}
    <li class="nav-item">
      <a class="nav-link tab-{{item.tab}}
               {% if item.tab == page.tab %}active{% endif %}
               {% if item.tab == 'admin' %}d-none{% endif %}
               {% if item.tab == 'my_page' %}d-none{% endif %}
               "
	 href="{{ item.url }}">{{ item.name }}</a> 
    </li>
    {% endfor %}
  </ul>
</nav>

