<nav class="navbar navbar-expand-lg mb-5">
  <ul class="navbar-nav nav-pills">
    <li class="nav-item"><div class="navbar-brand"><img src="{{ site.url }}/assets/images/logo.png"></div>
    </li>
    {% for item in site.data.tabs %}
    <li class="nav-item">
      <!-- To make the admin button disappear for regular users, change 'hidden_admin' to 'admin' -->
      <a class="nav-link tab-{{item.tab}}
               {% if item.tab == page.tab %}active{% endif %}
               {% if item.tab == 'hidden_admin' %}d-none{% endif %}
               {% if item.tab == 'my_page' %}d-none{% endif %}
               "
	 href="{{ item.url }}">{{ item.name }}</a> 
    </li>
    {% endfor %}
  </ul>
</nav>

